
# VisualStudioIgnore
# REF: https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Extension-less files
*
!*.*
!*/
!Makefile

# Folder view configuration files
.DS_Store

# Compiled Dynamic libraries
*.so

# Byte-compiled / optimized / DLL files
__pycache__/
